<html>
<title>Bodine Chronicles - Film Examples</title>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/ngDialog.min.css">

<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

<link rel="stylesheet" href="css/ngDialog-theme-default.min.css">
<link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" src="css/home.css">
	<script type="text/javascript" src="js/angular-1.6.1/angular.min.js"></script>
	<script type="text/javascript" src="js/angular-1.6.1/angular.js"></script>
	<script type="text/javascript" src="js/angular-1.6.1/angular-route.js"></script>
	<script type="text/javascript" src="js/ngDialog.min.js"></script>
	<script type="text/javascript" src="js/controllers/homeController.js"/></script>
	<script type="text/javascript" src="js/simplePagination.js"/></script>
	<script src="https://www.youtube.com/iframe_api"></script>
	<script type="text/javascript" src="js/angular-youtube-embed.js"/></script>
	<script type="text/javascript" src="js/angular-youtube-embed.min.js"/></script>
</head>
<body ng-app="bodineChronicles" class="w3-light-grey">

	<div ng-controller="homeController as vm">
	

	
<!-- Sidenav/menu -->
<nav class="w3-sidenav w3-black w3-animate-right w3-center w3-top w3-text-light-grey w3-large" style="z-index:3;width:250px;font-weight:bold;display:none;right:0;" id="mySidenav">
 <a href="" ng-click="vm.closeNav()" class="w3-padding-16">CLOSE</a>
  <a href="/website/index.html" class="w3-padding-16">HOME</a> 
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-white w3-xlarge w3-padding-16">
  <span class="w3-left w3-padding">{{vm.name}}</span>
  <a class="w3-right w3-btn w3-white" ng-click="vm.openNav()">☰</a>
</header>

<!-- Overlay effect when opening sidenav on small screens -->
<div class="w3-overlay w3-animate-opacity" ng-click="vm.closeNav()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content" style="max-width:1600px;margin-top:83px">
  <div>

  <div ng-repeat = "video in vm.videos">
	  <youtube-video video-url="video.url" style="margin-left:10px; margin-top:5px;"></youtube-video>
	  <span style="float:right; margin-left:680px; margin-top:-300px">{{video.description}}</span>
	  <br/>
	  <br/>
  </div>
  
</div>
    </div>
  </footer>
  
</div>

		</div>

</body>
</html>
